<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="my.pkg.app.test"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>
    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="my.pkg.app"
                     android:label="Tests for my.pkg.app"/>
</manifest>
